body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 39, 64, 1) 0%, rgba(0, 39, 64, 1) 100%);
    font-family:'Times New Roman', Times, serif

}

header{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;

}

.logo{
    color: white;
    font-family: cursive;
    letter-spacing: 4px;
}

nav{
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.nav-link {
    transition: text-decoration-color .5s ease-out;
    text-decoration-color: transparent;
    color: white;
}

.nav-link:hover {
    text-decoration-color: rgb(255, 191, 0);
}


