body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 0, 23);
    font-family:'Times New Roman', Times, serif

}

header{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    background-color: rgb(0, 1, 5);

}

.logo{
    color: white;
    font-family: cursive;
    letter-spacing: 4px;
    color: rgb(58, 248, 99);
}

nav{
    border-left: solid white;
    border-right: solid white;
    border-radius: 20px;
    padding: 30px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.nav-link {
    transition: text-decoration-color .5s ease-out;
    text-decoration-color: transparent;
    color: white;
}

.nav-link:hover {
    text-decoration-color: rgb(58, 248, 99);
}

.intro{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.intro-text{
    text-align: center;
    padding: 40px; 
    width: 60%;
}
.title{
    color: rgb(58, 248, 99);
}
.intro-title{
    font-size: 50px;
    letter-spacing: 4px;
}

#intro-subtitle{
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 20px;
}

.box2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card{
    background-color: rgba(42, 42, 57, 0.242);
    padding: 20px;
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s all ease-in-out;
    text-align: center;
}

.card-title{
    color: rgb(58, 248, 99);
}

.card-description{ 
    color: white;
    text-align: center;
}

.graph-wrapper {
    background-color: rgba(0, 13, 64, 0.275);
    margin-top: 100px;
    transition: .5s all ease-in-out;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    padding: 40px;
    
  }

.graph-wrapper:hover{
    cursor: pointer;
}

.service{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.service-title{
    font-size: 40px;
    letter-spacing: 5px;
}

.service-subtitle{
    color: white;
    text-align: center;
    font-size: 25px;
}

.service-button{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(58, 248, 99);
    color: rgb(0, 0, 0);
    font-size: 15px;
    transition: .3s all ease-in-out;
    width: 200px;
}



