body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif

}

header{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    background-color: rgb(0, 5, 25);

}

.logo{
    color: white;
    font-family: cursive;
    letter-spacing: 4px;
}

nav{
    border-left: solid white;
    border-right: solid white;
    border-radius: 20px;
    padding: 30px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.nav-link {
    transition: text-decoration-color .5s ease-out;
    text-decoration-color: transparent;
    color: white;
}

.nav-link:hover {
    text-decoration-color: rgb(255, 244, 144);
}

.intro{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.intro-text{
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    padding: 40px; 
    background-color: rgb(0, 14, 69);
}

#intro-title{
    color: rgb(255, 244, 144);
    font-size: 50px;
    letter-spacing: 4px;
}

#intro-subtitle{
    color: white;
    font-size: 40px;
    margin-top: 20px;
}

.graph-wrapper {
    background: rgb(0, 14, 69);
    margin-top: 100px;
    transition: .5s all ease-in-out;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    padding: 40px;
    
  }

.graph-wrapper:hover{
    cursor: pointer;
}

.service{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.box{
    text-align: center;
    width: 80%;
    padding: 30px;
    background-color: white;
    border-radius: 50px;
    
}

.service-title{
    color: rgb(0, 14, 69);
    font-size: 40px;
    letter-spacing: 4px;
}

