body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 39, 64, 1) 0%, rgba(0, 39, 64, 1) 100%);
    font-family:'Times New Roman', Times, serif

}

header{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    background-color: rgb(15, 15, 15);

}

.logo{
    color: white;
    font-family: cursive;
    letter-spacing: 4px;
}

nav{
    border-left: solid white;
    border-right: solid white;
    border-radius: 20px;
    padding: 30px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.nav-link {
    transition: text-decoration-color .5s ease-out;
    text-decoration-color: transparent;
    color: white;
}

.nav-link:hover {
    text-decoration-color: rgb(255, 191, 0);
}

.intro{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-text{
    text-align: center;
    border: 5px solid white;
    padding: 40px; 
    box-shadow: 1px 2px 15px black;
}

#intro-title{
    color: rgb(255, 191, 0);
    font-size: 50px;
    letter-spacing: 4px;
}

#intro-subtitle{
    color: white;
    font-size: 40px;
    margin-top: 20px;
}

.graph-wrapper {
    background: transparent;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    margin-top: 100px;
    transition: .5s all ease-in-out;
    width: 1000px;
    height: 550px;
    
  }

.graph-wrapper:hover{
    cursor: pointer;
    box-shadow: 1px 3px 20px black;
}

.service{
    margin-top: 100px;
}